@font-face {
  font-family: "Fixedsys Excelsior";
  src: local("Fixedsys Excelsior"), url("ttf/FSEX302.ttf");
}

:root {
  --bg: #101010;
  --fg: #cccccc;
  --black: #101010;
  --red: #9e5353;
  --green: #314731;
  --yellow: #797460;
  --blue: #5a446b;
  --purple: #b791b6;
  --cyan: #a0cbce;
  --light-gray: #4b4b64;
  --gray: #101010;
}

html {
  font-family: "Hack", monospace;
  text-align: center;
  color: var(--fg);
  background-color: var(--gray);
  /* background-size: cover; */
  /* background-position: center; */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.status-bar {
  font-size: x-small;
  height: 3vh;
  padding: 0;
  margin-bottom: 1vh;
}

.shortcuts-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  grid-gap: 2vh;
}

.shortcuts {
  width: fit-content;
  margin: 0 0;
  padding: 0;
}

.shortcuts:first-child {
}

.shortcut {
  text-decoration: none;
  color: var(--fg);
}

.shortcut:hover {
  font-weight: bolder;
  text-decoration: underline;
}

.pad-terminal {
  padding-top: 0vh;
  padding-left: 0vh;
  padding-right: 0vh;
  height: 96vh;
}

.scrollable {
  height: 96vh;
  overflow: auto;
  box-sizing: border-box;
}

#terminal {
  min-height: 100%;
  /* line-height: 0.5rem; */
  box-sizing: border-box;
  padding: 1rem;
  background-color: var(--bg);
  border: 1px hidden var(--fg);
  border-radius: 0px;
  text-align: left;
}

#terminal p {
  margin: 2px;
}

.prompt {
  display: flex;
}

.green {
  color: var(--green);
  font-weight: 900;
}

.cyan {
  color: var(--cyan);
  font-weight: 900;
}

.purple {
  color: var(--purple);
  font-weight: 900;
}

.red {
  color: var(--red);
  font-weight: 900;
}

.yellow {
  color: var(--yellow);
  font-weight: 900;
}

.blue {
  color: var(--blue);
  font-weight: 900;
}

.light-gray {
  color: var(--light-gray);
  font-weight: 900;
}

.gray {
  color: var(--gray);
  font-weight: 900;
}

.black {
  color: var(--black);
  font-weight: 900;
}

#input {
  width: 100%;
  outline: none;
  background-color: transparent;
  font: inherit;
  border: none;
  color: inherit;
}
element {
  background-color: var(--bg);
}
